{% extends 'layout.html' %}

{% block content%}
<section id="index_top_banner" class="d-flex flex-column justify-content-center align-items-center">
  <div class="container">
      <div class="row">
          <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1 aos-init aos-animate" data-aos="fade-in">
              <h1>ระบบบริหารจัดการศูนย์เทคโนโลยีสารสนเทศและการสื่อสาร&nbsp;</h1>
              <h2>สำนักงานสถิติแห่งชาติ</h2>
          </div>
          <div class="col-lg-6 order-1 order-lg-2 hero-img justify-content-center aos-init aos-animate" data-aos="zoom-in" data-aos-delay="200">
              <!-- <img src="/static/images/icon.jpg" class="animated"> </div> -->
      </div>
      <div class="row justify-content-center">
          <div id="searchBox" class="form-inline autocomplete search1" style="padding: 0.375rem 0.75rem;">
              <input id="q" class="form-control searchinput input-search" type="search" placeholder="ค้นหา..." aria-label="Search" autocomplete="off">
              <br><button class="btn btn-primary searchbtn my-2 my-sm-0" type="submit">ค้นหาที่นี่</button>
          </div>
      </div>
  </div>
</section>

<section id="index_services" class="services section-bg">
  <div class="container">
      <div class="section-title aos-init aos-animate" data-aos="fade-up">
          <h2>ระบบบัญชีข้อมูลภาครัฐ</h2>
          <p>Government Data Catalog (GD Catalog) </p>
      </div>
      <div class="row">
          <div class="col-lg-3 col-md-6 aos-init aos-animate" data-aos="fade-up" data-link="p01_00.html">
              <div class="icon-box">
                  <div class="icon-2"><i class="icofont-list"></i></div>
                  <h4 class="title"><a href="p01_00.html">ระบบบัญชีข้อมูลหน่วยงาน</a></h4>
                  <p class="description" style="text-align:left">
                      เป็นบัญชีข้อมูลดิจิทัลของหน่วยงาน จังหวัด หรือ ศูนย์ข้อมูล ที่ให้บริการเข้าถึงชุดข้อมูลและคำอธิบายชุดข้อมูลในรูปแบบบัญชีข้อมูลดิจิทัล </p>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 aos-init aos-animate" data-aos="fade-up" data-aos-delay="100" data-link="p02_01.html">
              <div class="icon-box">
                  <!--<div class="icon"><i class="icofont-chart-bar-graph"></i></div>-->
                  <div class="icon-3"><i class="icofont-tasks"></i></div>
                  <h4 class="title"><a href="p02_01.html">ระบบบริหารจัดการบัญชีข้อมูลภาครัฐ</a></h4>
                  <p class="description" style="text-align:left">เป็นระบบจัดการบัญชีข้อมูลจากหน่วยงาน โดยวิธีการลงทะเบียน พร้อมตรวจสอบความครบถ้วนให้เป็นไปตามมาตรฐาน เพื่อเป็นบัญชีข้อมูลกลางของภาครัฐ </p>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 aos-init aos-animate" data-aos="fade-up" data-aos-delay="200" data-link="p03_01.html">
              <div class="icon-box">
                  <div class="icon-4"><i class="icofont-search-document"></i></div>
                  <h4 class="title"><a href="p03_01.html">ระบบบริการบัญชีข้อมูลภาครัฐ</a></h4>
                  <p class="description" style="text-align:left"> เป็นระบบให้บริการบัญชีข้อมูลกลางภาครัฐ และระบบบริการนามานุกรม เพื่ออำนวยความสะดวกในการเข้าถึงชุดข้อมูลให้เป็นไปอย่างรวดเร็ว</p>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 aos-init aos-animate" data-aos="fade-up" data-aos-delay="400" data-link="p05_01.html">
              <div class="icon-box">
                  <div class="icon-6"><i class="icofont-law-alt-2"></i></div>
                  <h4 class="title"><a href="p05_01.html">ประกาศและแนวทาง</a></h4>
                  <p class="description" style="text-align:left">
                      เป็นประกาศและแนวทางที่จำเป็นในการจัดทำบัญชีข้อมูล รวมถึงรหัสที่ใช้ในการจัดการ</p>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 aos-init aos-animate" data-aos="fade-up" data-aos-delay="300" data-link="https://gdhelpdesk.nso.go.th">
              <div class="icon-box">
                  <div class="icon-5"><i class="icofont-live-support"></i></div>
                  <h4 class="title"><a href="https://gdhelpdesk.nso.go.th">ร้องขอการสนับสนุน</a></h4>
                  <p class="description" style="text-align:left">เป็นการสนับสนุนและให้ความช่วยเหลือ โดยช่องทางเว็บไซต์ gdhelpdesk.nso.go.th</p>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 aos-init aos-animate" data-aos="fade-up" data-aos-delay="500" data-link="p06_02_02.html">
              <div class="icon-box">
                  <div class="icon-7"><i class="icofont-book-alt"></i></div>
                  <h4 class="title"><a href="p06_02_02.html">F.A.Q และ คู่มือ</a></h4>
                  <p class="description" style="text-align:left">
                      คำถามที่พบบ่อย คู่มือ สื่อผสมที่ใช้สนับสนุนในการจัดทำและพัฒนาระบบบัญชีข้อมูลภาครัฐ</p>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 aos-init aos-animate" data-aos="fade-up" data-aos-delay="600" data-link="p06_04.html">
              <div class="icon-box">
                  <div class="icon-3"><i class="icofont-bullhorn"></i></div>
                  <h4 class="title"><a href="p06_04.html">สื่อประชาสัมพันธ์และสื่อการสอน</a></h4>
                  <p class="description" style="text-align:left">
                      รูปภาพ สื่อผสมที่ใช้ประชาสัมพันธ์ และสื่อการสอนการจัดทำและพัฒนาระบบบัญชีข้อมูลภาครัฐ</p>
              </div>
          </div>
          <!--<div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="700" data-link="contact172.html">
              <div class="icon-box">
                  <div class="icon-2"><i class="icofont-contacts"></i></div>
                  <h4 class="title"><a href="contact172.html">ติดต่อเรา</a></h4>
                  <p class="description" style=text-align:left>
                      ข้อมูลการติดต่อผู้ประสานงานระบบบัญชีข้อมูลภาครัฐ</p>
              </div>
          </div>-->
          <div class="col-lg-3 col-md-6 aos-init aos-animate" data-aos="fade-up" data-aos-delay="700" data-link="p08_01.html">
              <div class="icon-box">
                  <div class="icon-2"><i class="icofont-data"></i></div>
                  <h4 class="title"><a href="p08_01.html">รายงาน</a></h4>
                  <p class="description" style="text-align:left">
                      รายงานที่สำคัญ ประกอบด้วย รายงานสถานภาพของระบบบัญชีข้อมูล ชุดข้อมูล และ ทรัพยากรข้อมูล</p>
              </div>
          </div>
          
      </div>
  </div>
  
</section>
<section id="index_summary" class="services section-bg">
    <div class="container">
        {% load static %} <!-- Prepare django to load static files -->
        <p style="text-align: center;"><img src="{% static 'images/icon.jpg' %}" alt="My image" width="50%" height="50%"
                class="center"></p>
        <h2 align="center">ครุภัณฑ์ใน สสช.</h2>
        <table class="table table-striped table-hover align-middle">
            <thead class="table-dark align-middle">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">วันที่ลงทะเบียน</th>
                    <th scope="col">หมายเลขครุภัณฑ์</th>
                    <th scope="col">ชนิดอุปกรณ์</th>
                    <th scope="col">รายละเอียดอุปกรณ์</th>
                    <th scope="col">ระบบปฏิบัติการ</th>
                    <th scope="col">ผู้รับผิดชอบ</th>
                    <th scope="col">ซอฟท์แวร์ที่ใช้งาน</th>
                    <th scope="col">สถานะ</th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                <tr>
                    <th scope="row">{{item.0}}</th>
                    <td>{{item.1}}</td>
                    <td>{{item.2}}</td>
                    <td>{{item.3}}</td>
                    <td>{{item.4}}</td>
                    <td>{{item.5}}</td>
                    <td>{{item.6}} {{item.7}}</td>
                    <td>{{item.8}}</td>
                    <td>{{item.9}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
</form>
{% endblock %}